{% extends 'Template_Back/base.html.twig' %}

{% block title %}Categories equipement index{% endblock %}



{% block content %}
    <h1>Liste des catégories d'equipement</h1>

    <table class="table datatable">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for categoriesequipement in categoriesequipements %}
            <tr>
                <td>{{ categoriesequipement.id }}</td>
                <td>{{ categoriesequipement.nomcate }}</td>
                <td>

                    <a href="{{ path('app_categoriesequipement_edit', {'id': categoriesequipement.id}) }}">edit</a>
                    {{ include('categoriesequipement/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun résultat</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_categoriesequipement_new') }}">Créer une nouvelle catégorie</a>
{% endblock %}
