<!DOCTYPE html>
<html lang="fr">

{% block head %}
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>{% block title %} Dashboard {% endblock %}</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{{asset('Template_Back/img/favicon.png')}}" rel="icon">
  <link href="{{asset('Template_Back/img/apple-touch-icon.png')}}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.gstatic.com" rel="preconnect">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  {% block stylesheets %}
  <link href="{{asset('Template_Back/vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">
  <link href="{{asset('Template_Back/vendor/bootstrap-icons/bootstrap-icons.css')}}" rel="stylesheet">
  <link href="{{asset('Template_Back/vendor/boxicons/css/boxicons.min.css')}}" rel="stylesheet">
  <link href="{{asset('Template_Back/vendor/quill/quill.snow.css')}}" rel="stylesheet">
  <link href="{{asset('Template_Back/vendor/quill/quill.bubble.css')}}" rel="stylesheet">
  <link href="{{asset('Template_Back/vendor/remixicon/remixicon.css')}}" rel="stylesheet">
  <link href="{{asset('Template_Back/vendor/simple-datatables/style.css')}}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{{asset('Template_Back/css/style.css')}}" rel="stylesheet">
  {% endblock %}

</head>
{% endblock %}

{% block body %}
<body>

  {% block header %}
  <!-- ======= Header ======= -->
  <header id="header" class="header fixed-top d-flex align-items-center">

    <div class="d-flex align-items-center justify-content-between">
      <a href=" {{ path('back_index') }} " class="logo d-flex align-items-center">
        <img src="{{asset('Template_Back/img/logo.png')}}" alt="">
        <span class="d-none d-lg-block">HealthHerald</span>
      </a>
      <i class="bi bi-list toggle-sidebar-btn"></i>
    </div><!-- End Logo -->

    <div class="search-bar">
      <form class="search-form d-flex align-items-center" method="POST" action="#">
        <input type="text" name="query" placeholder="Search" title="Enter search keyword">
        <button type="submit" title="Search"><i class="bi bi-search"></i></button>
      </form>
    </div><!-- End Search Bar -->

    <nav class="header-nav ms-auto">
      <ul class="d-flex align-items-center">

        <li class="nav-item d-block d-lg-none">
          <a class="nav-link nav-icon search-bar-toggle " href="#">
            <i class="bi bi-search"></i>
          </a>
        </li><!-- End Search Icon-->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-bell"></i>
            <span class="badge bg-primary badge-number">1</span>
          </a><!-- End Notification Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
            <li class="dropdown-header">
              Vous avez 1 notification.
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Tout voir</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="notification-item">
              <i class="bi bi-exclamation-circle text-warning"></i>
              <div>
                <h4>A faire</h4>
                <p>Le systeme de notification ne marche pas vraiment</p>
                <p>Il y'a 10 min.</p>
              </div>
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>
            <li class="dropdown-footer">
              <a href="#">Montrer toutes les notifications</a>
            </li>

          </ul><!-- End Notification Dropdown Items -->

        </li><!-- End Notification Nav -->

        <li class="nav-item dropdown">

          <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown">
            <i class="bi bi-chat-left-text"></i>
            <span class="badge bg-success badge-number">1</span>
          </a><!-- End Messages Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
            <li class="dropdown-header">
              Vous avez 1 nouveau message
              <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">Tout voir</span></a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="message-item">
              <a href="#">
                <img src="{{asset('Template_Back/img/messages-1.jpg')}}" alt="" class="rounded-circle">
                <div>
                  <h4>Quelqu'un</h4>
                  <p>Le systeme de message n'est pas fait non plus ...</p>
                  <p>Il y'a 10 heures</p>
                </div>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <hr class="dropdown-divider">
            </li>

            <li class="dropdown-footer">
              <a href="#">Voir tous les messages</a>
            </li>

          </ul><!-- End Messages Dropdown Items -->

        </li><!-- End Messages Nav -->

        <li class="nav-item dropdown pe-3">

          <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown">
            <img src="{{asset('Template_Back/img/profile-img.jpg')}}" alt="Profile" class="rounded-circle">
            <span class="d-none d-md-block dropdown-toggle ps-2">K. Anderson</span>
          </a><!-- End Profile Iamge Icon -->

          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Kevin Anderson</h6>
              <span>Web Designer</span>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('back_profile') }}">
                <i class="bi bi-person"></i>
                <span>Mon profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('back_profile') }}">
                <i class="bi bi-gear"></i>
                <span>Paramètre du compte</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="{{ path('back_faq') }}">
                <i class="bi bi-question-circle"></i>
                <span>Besoin d'aide?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>

            <li>
              <a class="dropdown-item d-flex align-items-center" href="#">
                <i class="bi bi-box-arrow-right"></i>
                <span>Se déconnecter</span>
              </a>
            </li>

          </ul><!-- End Profile Dropdown Items -->
        </li><!-- End Profile Nav -->

      </ul>
    </nav><!-- End Icons Navigation -->

  </header>
  <!-- End Header -->
  {% endblock %}

  {% block sidebar %}
  <!-- ======= Sidebar ======= -->
  <aside id="sidebar" class="sidebar">

    <ul class="sidebar-nav" id="sidebar-nav">

      <li class="nav-item">
        <a class="nav-link " href="{{ path('back_index') }}">
          <i class="bi bi-grid"></i>
          <span>Dashboard</span>
        </a>
      </li><!-- End Dashboard Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#equipement-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Equipements</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="equipement-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('app_equipement_index') }}">
              <i class="bi bi-circle"></i><span>Liste des équipements</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_categoriesequipement_index') }}">
              <i class="bi bi-circle"></i><span>Catégorie</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_equipement_statistique') }}">
              <i class="bi bi-circle"></i><span>Statistiques</span>
            </a>
          </li>
        </ul>
      </li><!-- End Equipement Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#rendez-vous-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Rendez-Vous</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="rendez-vous-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('back_rendezvous_index') }}">
              <i class="bi bi-circle"></i><span>Liste des rendez-Vous</span>
            </a>
          </li>
          <li>
            <a href="{{ path('back_rendezvous_type_index') }}">
              <i class="bi bi-circle"></i><span>Type</span>
            </a>
          </li>
          <li>
            <a href="{{ path('back_rendezvous_calendar') }}">
              <i class="bi bi-circle"></i><span>Calendrier</span>
            </a>
          </li>
          <li>
            <a href="{{ path('back_rendezvous_statistique') }}">
              <i class="bi bi-circle"></i><span>Statistiques</span>
            </a>
          </li>
        </ul>
      </li><!-- Rendezvous Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#salle-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Salles/Planification</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="salle-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('app_salle_index') }}">
              <i class="bi bi-circle"></i><span>Liste des salles</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_salle_statistique') }}">
              <i class="bi bi-circle"></i><span>Statistiques</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_plannification_index') }}">
              <i class="bi bi-circle"></i><span>Liste des planifications</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_plannification_statistique') }}">
              <i class="bi bi-circle"></i><span>Statistiques</span>
            </a>
          </li>
        </ul>
      </li><!-- End Salle/Planification Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#stock-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Stock</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="stock-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('app_stockc_index') }}">
              <i class="bi bi-circle"></i><span>Liste du stock</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_categories_index') }}">
              <i class="bi bi-circle"></i><span>Catégorie</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_stockc_statistique') }}">
              <i class="bi bi-circle"></i><span>Statistiques</span>
            </a>
          </li>
        </ul>
      </li><!-- End Stock Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#vehicule-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Véhicule</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="vehicule-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('app_vehicules_index') }}">
              <i class="bi bi-circle"></i><span>Liste des véhicules</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_categoriesvehicules_index') }}">
              <i class="bi bi-circle"></i><span>Catégorie</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_cal') }}">
              <i class="bi bi-circle"></i><span>Calendrier</span>
            </a>
          </li>
        </ul>
      </li><!-- End Vehicule Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" data-bs-target="#user-nav" data-bs-toggle="collapse" href="#">
          <i class="bi bi-layout-text-window-reverse"></i><span>Utilisateurs</span><i class="bi bi-chevron-down ms-auto"></i>
        </a>
        <ul id="user-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
          <li>
            <a href="{{ path('app_user_index') }}">
              <i class="bi bi-circle"></i><span>Liste des utilisateurs</span>
            </a>
          </li>
          <li>
            <a href="{{ path('app_roleuser_index') }}">
              <i class="bi bi-circle"></i><span>Rôles</span>
            </a>
          </li>
        </ul>
      </li><!-- End User Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('back_historique_index') }}">
          <i class="bi bi-file-earmark"></i>
          <span>Historique</span>
        </a>
      </li><!-- End Historique Nav -->


      <li class="nav-heading">Pages</li>

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('app_login_back') }}">
          <i class="bi bi-person"></i>
          <span>Profile</span>
        </a>
      </li><!-- End Profile Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('app_login_back') }}">
          <i class="bi bi-box-arrow-in-right"></i>
          <span>Se connecter</span>
        </a>
      </li><!-- End Login Page Nav -->

      <li class="nav-item">
        <a class="nav-link collapsed" href="{{ path('app_register_back') }}">
          <i class="bi bi-card-list"></i>
          <span>Créer un compte</span>
        </a>
      </li><!-- End Register Page Nav -->

    </ul>

  </aside>
  <!-- End Sidebar-->
  {% endblock %}

<main id="main" class="main">
  {% block content %}
  {% endblock %}
</main>

  <!-- ======= Footer ======= -->
  {% block footer %}
  <footer id="footer" class="footer">
    <div class="copyright">
      &copy; Copyright <strong><span>Malcador the Sigillite</span></strong>. Tous droits réservés
    </div>
    <div class="credits">
      Conçue par <a href="https://www.youtube.com/watch?v=ZK1pNGmNBEc">Roboute Guilliman</a>
    </div>
  </footer>
  <!-- End Footer -->
  {% endblock %}

  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  {% block javascript %}
  <script src="{{asset('Template_Back/vendor/apexcharts/apexcharts.min.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/bootstrap/js/bootstrap.bundle.min.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/chart.js/chart.min.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/echarts/echarts.min.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/quill/quill.min.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/simple-datatables/simple-datatables.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/tinymce/tinymce.min.js')}}"></script>
  <script src="{{asset('Template_Back/vendor/php-email-form/validate.js')}}"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js" </script>

  <!-- Template Main JS File -->
  <script src="{{asset('Template_Back/js/main.js')}}"></script>
  {% endblock %}

</body>
{% endblock %}

</html>