{% extends 'Template_Front/base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block content %}
	{% for flash_error in app.flashes('verify_email_error') %}
		<div class="alert alert-danger" role="alert">{{ flash_error }}</div>
	{% endfor %}

	<body>
		<h1>Bienvenue .</h1>
		<p>Vous pouvez creer un compte :</p>
	</body>

	{{ form_start(registrationForm,{'attr': {'novalidate': 'novalidate '}}) }}
	{{ form_row(registrationForm.email) }}
	{{ form_row(registrationForm.nom) }}
	{{ form_row(registrationForm.prenom) }}
    {{ form_row(registrationForm.phone_number) }}

	{{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}
	{{ form_row(registrationForm.agreeTerms) }}

	<button type="submit" class="btn btn-lg btn-primary">Register</button>
	{{ form_end(registrationForm) }}
{% endblock %}

