 

{% block body %}
<style>
label {
  font-weight: bold;
  color: Blue sky;
  text-transform: uppercase;
}

</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-80 col-lg-80">
    
          {{ form_start(form,{'attr': {'novalidate': 'novalidate '}}) }}
            
          <div class="form-floating mb-3">
            {{ form_widget(form.typecatv, {'attr': {'class': 'form-control', 'placeholder': 'Nom du medicament'}}) }}
            {{ form_errors(form.typecatv) }}
            {{ form_label(form.typecatv, "type du vehicule", {'label_attr': {'class': 'small mb-1'}}) }}
          </div>
          
         
             
            <div class="mt-4 mb-0">
              <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">{{ button_success|default('Sauvegarder') }}</button></div>
               <a href="{{ path('app_categoriesvehicules_index') }}"" class="btn btn-secondary mx-0"style="margin-top: 20px;margin-left:200px">Retour à la liste</a>
  </div>
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}