{% extends 'base.html.twig' %}

{% block title %}Categoriesvehicules{% endblock %}

{% block body %}
<div class="d-flex align-items-center justify-content-center" style="height: 550px;"> 

    <h1>Categoriesvehicules</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ categoriesvehicule.id }}</td>
            </tr>
            <tr>
                <th>Typecatv</th>
                <td>{{ categoriesvehicule.typecatv }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_categoriesvehicules_index') }}">back to list</a>

    <a href="{{ path('app_categoriesvehicules_edit', {'id': categoriesvehicule.id}) }}">edit</a>

    {{ include('categoriesvehicules/_delete_form.html.twig') }}
    </div>
{% endblock %}
