{% extends 'base.html.twig' %}




{% block body %}
<style>
label {
  font-weight: bold;
  color: Blue sky;
  text-transform: uppercase;
}

</style>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-80 col-lg-80">
    
          {{ form_start(form,{'attr': {'novalidate': 'novalidate '}}) }}
         
     
          <div class="form-floating mb-3">
            {{ form_widget(form.nomvh, {'attr': {'class': 'form-control', 'placeholder': 'Nom du medicament'}}) }}
            {{ form_errors(form.nomvh) }}
            {{ form_label(form.nomvh, "Nom du vehicule", {'label_attr': {'class': 'small mb-1'}}) }}
          </div>
          
          <div class="form-floating mb-3">
              {{ form_label(form.dispovh, 'disponible ou pas') }}

{{ form_widget(form.dispovh) }}

{{ form_errors(form.dispovh) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.etatvh, {'attr': {'class': 'form-control', 'placeholder': 'Quantites'}}) }}
              {{ form_errors(form.etatvh) }}
              {{ form_label(form.etatvh, "etat du vehicule", {'label_attr': {'class': 'small mb-1'}}) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.descvh, {'attr': {'class': 'form-control', 'placeholder': 'Date d\'expiration'}}) }}
              {{ form_errors(form.descvh) }}
              {{ form_label(form.descvh, "description du vehicule", {'label_attr': {'class': 'small mb-1'}}) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.catv, {'attr': {'class': 'form-control', 'placeholder': 'Description'}}) }}
              {{ form_errors(form.catv) }}
              {{ form_label(form.catv, "categorie du vehicules", {'label_attr': {'class': 'small mb-1'}}) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.imagesvh, {'attr': {'class': 'form-control', 'placeholder': 'Type de medicament'}}) }}
              {{ form_errors(form.imagesvh) }}
              {{ form_label(form.imagesvh, "image du vehicule", {'label_attr': {'class': 'small mb-1'}}) }}
            </div>
            <div class="form-floating mb-3">
              {{ form_widget(form.date ) }}
              {{ form_errors(form.date) }}
              {{ form_label(form.date ) }}
            </div>
            <div class="mt-4 mb-0">
              <div class="d-grid"><button class="btn btn-primary btn-block" type="submit">{{ button_success|default('Sauvegarder') }}</button></div>
               <a href="{{ path('app_vehicules_index') }}"" class="btn btn-secondary mx-0"style="margin-top: 20px;margin-left:200px">Retour à la liste</a>
            </div>
            </div>
          {{ form_end(form) }}
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}