{% extends 'base.html.twig' %}

{% block title %}Vehicules index{% endblock %}

{% block body %}
<style>
        table {
            margin: 50px auto;
            width: 80%;
            border-collapse: collapse;
        }
        th, td {
            padding: 10px;
            text-align: center;
            border: 1px solid #ddd;
        }
        th {
            color:blue ;
            
        }
        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

     </style>


<div><h1>Vehicules index</h1></div>
<div class="main-panel">
    <div class="content-wrapper">
        <div class="page-header">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
        </div>
    <div class="row ">
        <div class="col-12 grid-margin">
            <div class="card">
                <div class="card-body">
                    <div style="display: flex">
                        <div class="col-md-5">
                        </div>
                        <form method="post" class="forms-sample" style="margin-left: -42px" >
                            <div class="form-group col-md-4" style="margin-right: 500px;">

                                <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="nomvh">Nom</label>
                                </div>
                              <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="id">id</label>
                                </div>
                              <div class="form-check">
                                    <label class="form-check-label" style="width: 92px;margin-left: -2px;margin-right: 10px;">
                                        <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1" value="dispovh">dispo</label>
                                </div>
                            
                                </div>

                                <button type="Submit" class="btn btn-success btn-fw" style="margin: auto; ">Sort</button>
                            </div>
                        </form>

                    </div>

                    <ul class="navbar-nav w-100" style="margin-top: 18px;">
                        <li class="nav-item w-100">
                            <form name="Search-method" id="Search-method"method="post" class="forms-sample" style="margin-left: 300px;">
                                <div class="form-group col-md-5">
                                    <label style="margin-top: 11px;margin-left: 10px;margin-right: 14px;padding-bottom: 7px;;">Option Recherche</label>
                                    <select name="optionsearch" class="js-example-basic-single" style="width: 200px;height: 38px; color: white; background-color: #191c24; border-radius: 4px;text-align: center;border: 2px solid #0090e7;margin-right: 15px;">
                                        <option value="">Choisi un Critére</option>
                                        <option value="nomvh">Nom vehicule</option>
                                        <input name="Search" type="text" class="form-control" placeholder="Search Events" aria-label="Recipient's username" aria-describedby="basic-addon2">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="Submit">Search</button>
                                    </select>
                                </div>
                                <div class="form-group col-md-7">
                                    <div class="input-group">
                                       
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </li>
                    </ul>
<div class="d-flex align-items-center justify-content-center" style="height:  1800px;"> 
     
 

   <table class="table" style="
    
    margin-left: 310px;
    margin-top: -300px;
    ">

    
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom </th>
                <th>Dispo(yes/no)</th>
                <th>Etat </th>
                <th>Description </th>
                <th>categorie </th>
                <th>actions</th>
                
               
                <th>
                
                <form method="post" action="{{ path('app_vehicules_new') }} ">
    <button class="btn btn-success">create new</button>
</form>

                
                
                
                
                </th>
            </tr>
        </thead>
        <tbody>
        
        {% for vehicule in vehicules %}
            <tr>
                <td>{{ vehicule.id }}</td>
                <td>{{ vehicule.nomvh }}</td>
                <td>{{ vehicule.dispovh ? 'Yes' : 'No' }}</td>
                <td>{{ vehicule.etatvh }}</td>
                <td>{{ vehicule.descvh }}</td>
                 <td>{{ vehicule.catv }}</td>
                <td>
                    <a href="{{ path('app_vehicules_show', {'id': vehicule.id}) }} "><button class="btn btn-primary">show</button></a>
                    <a href="{{ path('update_post', {'id': vehicule.id}) }}"><button class="btn btn-primary">Editer</button></a>
                   
                    <br>
                    
                    
                    <form method="post" action="{{ path('supprimerc', {'id': vehicule.id}) }} ">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ vehicule.id) }}">
    <button class="btn btn-danger">Delete</button>
</form>

                </td>
                
            </tr>
                 
                   
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
     
        
        <!-- <a href="{{ path('app_vehicules_new') }}">Create new</a> -->
        </tbody>
    </table>

     {{ knp_pagination_render(vehicules) }}
             
    </div>

{% endblock %}
