{% extends "Template_Back/base.html.twig" %}

{% block title %} Rendez-vous {% endblock %}

{% block content %}
    <style>
    .hidden {
        display: none;
    }

    .show {
        display: block;
        margin-top: 0.5em;
    }   

    .arrow::before {
        color: #444444;
        content: '\25B6';
        display: inline-block;
        transform: rotate(90deg);
        margin-right: 0.5em;
    }
    .arrow.active::before {
        color: #444444;
        content: '\25B6';
        display: inline-block;
        transform: rotate(270deg);
        margin-right: 0.5em;
    }
    </style>

    <div>
        <input type="text" id="search-input" class="form-control" placeholder="Recherche par utilisateur">
    </div>

    <h1>Liste des Rendez-vous</h1>

    <table class="table table-hover" id="rendezvous-table">
    <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Date du Rendez-vous </th>
            <th scope="col"> Durée </th>
            <th scope="col"> Salle </th>
            <th scope="col"> Type </th>
            <th scope="col"> Liste des Utilisateurs présents </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        {% for r in rendezvous %}
        <tr>
            <td> {{ r.id }} </td>
            <td> {{ r.daterv ? r.daterv|format_datetime('full', 'short', locale='fr') }} </td>
            <td> {{ r.endAt ? r.showDuree() }} </td>
            <td> {{ r.Salle }} </td>
            <td> {{ r.Type }} </td>
            <td>
                {% if r.User is not empty and r.User|length > 0  %}
                <select class="form-select" multiple="true" size="3" disabled>
                    {% for u in r.User %}
                        <option value="{{ u }}"> {{ u }} </option>
                    {% endfor %}
                </select>
                {% else %}
                    Aucun Utilisateur
                {% endif %}
            </td>
            <td> 
                <button class="btn"> <a href="{{ path('back_rendezvous_edit', {'id': r.id}) }}"> Modifier </a> </button> 
                {{ include('rendezvous/back/delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Rendez-vous en cours</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{{ path('back_rendezvous_new') }}"> Planifier un rendez-vous </a>

    <div class="container" style="margin-top: 3.5em;">
    <h2 id="historique"> 
        Historique
        {# <span class="arrow" id="historique-toggle">&#x25BC;</span> #}
        <a href="#historique"> <span class="arrow" id="historique-toggle"> </span> </a>
    </h2>
    <div class="container hidden" id="historique-wrapper">
    <table class="table table-hover table-secondary" id="rendezvous-historique">
    <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Date du Rendez-vous </th>
            <th scope="col"> Durée </th>
            <th scope="col"> Salle </th>
            <th scope="col"> Type </th>
            <th scope="col"> Liste des Utilisateurs </th>
        </tr>
    </thead>
    <tbody>
        {% for r in Historique %}
        <tr id="rendezvous-historique-{{r.id}}">
            <td> {{ r.id }} </td>
            <td> {{ r.daterv ? r.daterv|format_datetime('full', 'short', locale='fr') }} </td>
            <td> {{ r.endAt ? date(r.daterv|date_modify('-' ~ r.endAt|date('U') ~ ' seconds'))|date('H:i') }} </td>
            <td> {{ r.Salle }} </td>
            <td> {{ r.Type }} </td>
            <td>
                {% if r.User is not empty and r.User|length > 0  %}
                <select class="form-select" multiple="true" size="3" disabled>
                    {% for u in r.User %}
                        <option value="{{ u }}"> {{ u }} </option>
                    {% endfor %}
                </select>
                {% else %}
                    Aucun Utilisateur
                {% endif %}
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Rendez-vous dans l'historique</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

        <div class="container" style="margin-top: 1.5em;">
            <button class="btn" id="clear"> Nettoyer les anciens rendez-vous </button>
            <div id="message-clear" style="display: inline;"> </div>
        </div>
        <div class="container">
            <button class="btn" id="full-clear"> Nettoyer l'historique </button>
            <div id="message-full-clear" style="display: inline;"> </div>
        </div>

    </div>
    </div>

{% endblock %}

{% block javascript %}
    {{parent()}}

    <script>
        const rendezvousTable = new simpleDatatables.DataTable('#rendezvous-table', {
            sorting: {
                // disable sorting for the sixth column
                5: false
            }
        });

        const toggleHeading = document.getElementById('historique-toggle');
        const toggleDiv = document.getElementById('historique-wrapper');

        toggleHeading.addEventListener('click', function() {
            toggleDiv.classList.toggle('hidden');
            toggleDiv.classList.toggle('show');
            toggleHeading.classList.toggle('active');
            //toggleHeading.textContent = toggleHeading.textContent === '\u25B2' ? '\u25BC' : '\u25B2';
        });


        const clearBtn = document.getElementById('clear');
        const fullclearBtn = document.getElementById('full-clear');

        const messageClear = document.getElementById('message-clear');
        const messageFullclear = document.getElementById('message-full-clear');
        
        clearBtn.addEventListener('click', function() {
            fetch('clear/0', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                messageClear.innerHTML = data.success ? data.succes + ' rendez-vous nettoyés avec succés' : "Il n'y a rien à supprimé dans l'historique";
                data['id'].forEach( (id) => {
                    document.getElementById('rendezvous-historique-' + id).remove();
                })
            })
            .catch(error => {
                messageClear.innerHTML = 'Une erreur est survenue lors de la suppression';
            });
        });

        fullclearBtn.addEventListener('click', function() {
            fetch('clear/1', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({})
            })
            .then(response => response.json())
            .then(data => {
                messageFullclear.innerHTML = data.success ? 'Historique nettoyé avec succés' : "Il n'y a rien à supprimé dans l'historique";
                data['id'].forEach( (id) => {
                    document.getElementById('rendezvous-historique-' + id).remove();
                })
            })
            .catch(error => {
                messageFullclear.innerHTML = 'Une erreur est survenue lors de la suppression';
            });
        });

        $(document).ready(function() {
            var delay = 300; // delay in milliseconds
            var timer = null;
            $('#search-input').keyup(function() {
                clearTimeout(timer);
                var value = $(this).val();
                timer = setTimeout(function() {
                    $.ajax({
                        url: "{{ path('rendezvous_search') }}",
                        type: "POST",
                        data: {value: value},
                        success: function(data) {
                            $('#rendezvous-table').html(data);
                        }
                    });
                }, delay);
            });
        });

    </script>
{% endblock %}