{% extends "Template_Back/base.html.twig" %}

{% block content %}
    <h1>Liste des Rendez-vous</h1>

    <table class="table table-hover" id="rendezvous-table">
    <thead>
        <tr>
            <th scope="col"> Id </th>
            <th scope="col"> Date du Rendez-vous </th>
            <th scope="col"> Salle </th>
            <th scope="col"> Type </th>
            <th scope="col"> Liste des Utilisateurs présents </th>
            <th scope="col"> </th>
        </tr>
    </thead>
    <tbody>
        {% for r in RendezvousAndUtilisateur %}
        <tr>
            <td> {{ r.id }} </td>
            <td> {{ r.daterv ? r.daterv|format_datetime('full', 'short', locale='fr') }} </td>
            <td> {{ r.Salle }} </td>
            <td> {{ r.Type }} </td>
            <td>
                <ul>
                {% for u in r.Utilisateur %}
                    <li> {{ u }}</ul>
                {% else %}
                    Aucun Utilisateur
                {% endfor %}
                </ul>
            </td>
            <td> 
                <button class="btn"> <a href="{{ path('back_rendezvous_edit', {'id': r.id}) }}"> Modifier </a> </button> 
                {{ include('rendezvous/back/delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
            <tr>
                <td colspan="3">Aucun Rendez-vous en cours</td>
            </tr>
        {% endfor %}
    </tbody>
    </table>

    <a href="{{ path('back_rendezvous_new') }}"> Planifier un rendez-vous </a>

{% endblock %}

{% block javascript %}
    {{parent()}}
    <script>
        const rendezvousTable = new simpleDatatables.DataTable('#rendezvous-table', {
            sorting: {
                // disable sorting for the sixth column
                5: false
            }
        });
    </script>
{% endblock %}