{% extends "Template_Back/base.html.twig" %}

{% block content %}

    <style>
        .chart-container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        canvas {
            max-height: 400px;
            margin: 10px;
        }
    </style>

    <h1>Equipement Stats</h1>

    <div class="row">
        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nombre de rendez-vous par mois sur l'année 
                <input id="year-input" type="number" min="1990" max="2099" step="1" value="{{year}}" style="width: 20%; margin-left: 5%;" />
              </h5>
              <div id="substat-replacer">
              <canvas id="barChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 359px; width: 719px;" width="719" height="359"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#barChart'), {
                    type: 'bar',
                    data: {
                      labels: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                      datasets: [{
                        label: 'Année {{year}}',
                        data: [{% set j = 0 %}{% for i in 1..12 %}{% if j < month|length %}{% if i==month[j] %}{{rdv[j]}},{% set j = j + 1 %}{% else %}0,{% endif %}{% else %}0,{% endif %}{% endfor %}],     
                        backgroundColor: [
                          'rgba(255, 80, 80, 0.2)',
                          'rgba(255, 153, 0, 0.2)',
                          'rgba(153, 255, 51, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                          'rgba(255, 80, 80, 0.2)',
                          'rgba(255, 153, 0, 0.2)',
                          'rgba(153, 255, 51, 0.2)',
                          'rgba(75, 192, 192, 0.2)',
                          'rgba(54, 162, 235, 0.2)',
                          'rgba(153, 102, 255, 0.2)',
                        ],
                        borderColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                          'rgb(153, 102, 255)',
                        ],
                        borderWidth: 1
                      }]
                    },
                    options: {
                      scales: {
                        y: {
                          beginAtZero: true
                        }
                      }
                    }
                  });
                });
              </script>
              </div>

            </div>
          </div>
        </div>

        <div class="col-lg-6">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Nombre de rendez-vous par Utilisateur</h5>
              <canvas id="pieChart" style="max-height: 400px; display: block; box-sizing: border-box; height: 400px; width: 719px;" width="719" height="400"></canvas>
              <script>
                document.addEventListener("DOMContentLoaded", () => {
                  new Chart(document.querySelector('#pieChart'), {
                    type: 'pie',
                    data: {
                      labels: [{% for u in countUser %}'{{u['1']}}',{% endfor %}],
                      datasets: [{
                        label: [{% for u in countUser %}'{{u['1']}}',{% endfor %}],
                        data: [{% for u in countUser %}{{u['rdv']}},{% endfor %}],
                        backgroundColor: [
                          'rgb(255, 99, 132)',
                          'rgb(255, 159, 64)',
                          'rgb(255, 205, 86)',
                          'rgb(75, 192, 192)',
                          'rgb(54, 162, 235)',
                        ],
                        hoverOffset: 4
                      }]
                    }
                  });
                });
              </script>

            </div>
          </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    {{ parent() }}
    <script>
        $(document).ready(function() {
            var delay = 300; // delay in milliseconds
            var timer = null;
            $('#year-input').change(function() {
                clearTimeout(timer);
                var year = $(this).val();
                timer = setTimeout(function() {
                    $.ajax({
                        url: "{{ path('back_rendezvous_substatistique') }}",
                        type: "POST",
                        data: {year: year},
                        success: function(data) {
                            $('#substat-replacer').html(data);
                        }
                    });
                }, delay);
            });
        });
    </script>
{% endblock %}