
{% block body %}
<style>
label {
  font-weight: bold;
  color:Blue sky;
  text-transform: uppercase;
}

</style>
    {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
    <center>
        <style>
            table {
                margin-top: 50px;
                margin-right: -40px;
            }
        </style>
        <div>
            <table>
                 <div class="form-floating mb-3">
              {{ form_widget(form.typecat, {'attr': {'class': 'form-control', 'placeholder': 'Nom du categories'}}) }}
              {{ form_errors(form.typecat) }}
              {{ form_label(form.typecat, "Nom du categories", {'label_attr': {'class': 'small mb-1'}}) }}
            </div>
            </table>
        </div>
    </center>
       <div class="d-grid"> <button class="btn btn-primary mt-3" type="submit">{{ button_success|default('Save') }}</button></div>
    </div>
    {{ form_end(form) }}
{% endblock %}

