{% extends 'base.html.twig' %}

{% block title %}Salle index{% endblock %}

{% block body %}
    <style>
        table {
            background-color: rgba(0, 34, 255, 0.03);
            border-collapse: collapse;
            margin-top: 200px;
            width: 70%;
            font-size: 20px;
            margin-right: 50px;
            margin-left: 350px;
        }
        h1{
            text-align: center;
            font-size: 50px;
            font-weight: bold;
            color: blue;
            margin-bottom: 50px;
            margin-top: 100px;
        }
    </style>
    <h1 class="text-center">Salle Index</h1>
    <div class="d-flex align-items-center justify-content-center" style="height: 500px">

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Numéro</th>
                <th scope="col">Etage</th>
                <th scope="col">Type</th>
                <th><a href="{{ path('app_salle_new') }}" class="btn btn-primary">Ajouter Salle</a></th>
                <th scope="col"></th>

            </tr>
            </thead>
            <tbody>
            {% for salle in salles %}
                <tr>
                    <td>{{ salle.id }}</td>
                    <td>{{ salle.numsa }}</td>
                    <td>{{ salle.etagesa }}</td>
                    <td>{{ salle.typesa }}</td>
                    <td>
                        <a href="{{ path('app_salle_show', {'id': salle.id}) }}" class="btn btn-primary">Consulter</a>
                        <a href="{{ path('app_salle_edit', {'id': salle.id}) }}" class="btn btn-primary">Modifier</a>
                    </td>
                    <td>{{ include('salle/_delete_form.html.twig') }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
